name: Java Style Check

on:
  push:
    branches-ignore:
      - main
      - dev

jobs:
  formatting:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Run Google Java Format
        run: |
          wget https://github.com/google/google-java-format/releases/download/v1.17.0/google-java-format-1.17.0-all-deps.jar
          find . -name "*.java" -type f -print0 | xargs -0 java -jar google-java-format-1.17.0-all-deps.jar --replace --aosp
          rm google-java-format-1.17.0-all-deps.jar # <-- 중요: 사용 후 JAR 파일 삭제

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: Java 스타일 수정"
          branch: ${{ github.head_ref || github.ref_name }}